.profile{
    border-radius: 50%;
    padding-right: 8px;
   }

   .hero{
    background: linear-gradient(300deg, #ffffff, #827f6184, #45422a73);
    background-size: 100% 100%;
    animation: gradient-animation 18s ease infinite;
}

.hero2{
  background: linear-gradient(300deg, #e6ffff, #ffffff73,#ffffff);
  background-size: 100% 100%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.lead{
    font-weight: 400;
}
.navbar{
    background-color: #09121F;
}

.feature_icon{
  padding-top: 1px;
  background-color: #ffffff;
}
/* TEXT HOVER EFFECT */

.icon-text-container {
  transition: color 0.3s ease;
}
.icon-text-container:hover svg {
  color: #75b7ff; 
  transition: color 0.3s ease;}

  .icon-text-container:hover p {
    color: #75b7ff; 
    transition: color 0.3s ease;}

/* BUTTON HOVER EFFECT */

.feature_btn.btn.btn-secondary {
  transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}

.feature_btn.btn.btn-secondary:hover {
  background-color: #1E90FF;
  border-color: #1E90FF;
}

/* NAVBAR ACTIVE PAGE COLOR EFFECT */
.icon-text-container a.nav-link.active svg,
.icon-text-container a.nav-link.active p {
  color: #75b7ff;
}


/* GOOGLE FONTS */
.poppins-light {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

/*FOOTER CONTACT*/  
.footer_contact{
margin-block-start: 110px; 
}

/* SKILLSET > ICONS */
.tool-usage-icon-background{
  background: linear-gradient(300deg, #e0e0e0, #ffffff73,#e0e0e0);
  background-size: 100% 100%;
  animation: gradient-animation 18s ease infinite;
}

/* CARD HOVER*/
.card .overlay {
  background: rgba(0, 0, 0, 0.6); /* semi-transparent overlay */
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card:hover .overlay {
  opacity: 1;
}

.custom-gutter-cards{
  --bs-gutter-x: 15rem;
}